<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/concrete.css/3.0.0/concrete.min.css">#}
{#    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css">#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Hey Welcome To The Blog</h1>
</header>
<main>
    <label for="Search">
        <input type="text" placeholder="Enter keyword to search....">
    </label>

</main>
<footer>
    This is created by @codecooker1
</footer>
</body>
</html>